

body {
    background: radial-gradient(circle at center, getColor(background1), getColor(background2));
};
.btn {
    background-color: getColor(primary);
    border-radius: 0;
    border: none;
}
.btn:hover {
    opacity: 0.5;
    background-color: getColor(primary);
}
h1 {
    color: getColor(primary);
}

p, 
a, 
i{
    color: getColor(tertiery);
}
.active {
    background-color: getColor(white);
}