.footer {
    background-color: getColor(white);
    &__icons {
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
}


@media (min-width: 992px){
    .footer {
        &__wrapper {
            margin-top: 1rem;
            justify-content: space-between !important;
            align-items: baseline;
            flex-direction: row !important;
            &--text{
                width: 66%;
                justify-content: space-around !important;
            }
        }
    }
}