.navbar{
    background-color: getColor(secendary);
    width: 100%;
    &-brand{
        color: getColor(primary) !important;
    }
}
.form__search {
    border: 0;
    border-radius: 5px;
}
.nav {
    &-link {
        color: getColor(quaternary);
    }
    &__btn {
        color: white;
    }
}
