.news {
    &__btn-group {
        display: flex;
    }
    &__active {
        color: white;
    }
    &__standard {
        background-color: white;
        border: solid 1px getColor(primary);
        color: getColor(primary);
    }
    &__standard:hover {
    opacity: 0.5;
    background-color: white;
    border: solid 1px getColor(primary);
    color: getColor(primary);
    }
    &__active:hover {
        color: white;
        background-color: getColor(primary);
        opacity: 0.5;
    }
}