$colors: (
    background1:#ffff,
    background2:#e5e5e5, 
    white: #ffffff,
    primary: #E92569,
    secendary:#EFEFEF,
    tertiery: #767676,
    quaternary: #0a0a0a

    
);

@function getColor ($color){
    @return map-get($colors, $color )
};